* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

.content {
    padding-left: calc(50% - 800px / 2);
    padding-right: calc(50% - 800px / 2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.content_beautiful_places {
    background-image: url(img/beautifulPlaces.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 60px;
}

.btn {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-decoration: none;
    margin-top: 20px;
    margin-right: 20px;
}

.btn_travel {
    width: 60px;
}

.btn:hover {
    background-color: #333333;
}

.btn:active {
    position: relative;
    top: 1px;
}



.beautiful_places {
    padding-bottom: 40px;
}

.user {
    display: flex;
    margin-top: 160px;
    margin-bottom: 20px;
}

.img_photo {
    width: 40px;
    height: 40px;
    margin-right: 14px;
}

.name {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 2px;
}

.date {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
}

.title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}

.text_beautiful_places {
    max-width: 470px;
}

.block_text {
    background-color: #FFFFFF;
    padding: 35px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap
}

.text {
    max-width: 680px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.more {
    display: none;
}

.continue_reading {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #8D4FDB;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.content_perfect_gear {
    background-image: url(img/perfectGear.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-bottom: 40px;
}

.text_perfect_gear {
    max-width: 503px;
}


.content_photographer {
    background-image: url(img/photographer.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-left: 60px;
    padding-bottom: 40px;
}

.btn_photography {
    width: 122px;
}

.text_photographer {
    max-width: 451px;
}

.content_read_more {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 0px;
    padding-top: 49px;
}

.subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #333333;
    margin-bottom: 21px;
}

.btn_visit_blog_archive {
    width: 182px;
    height: 45px;
    font-size: 10px;
    line-height: 30px;
    background: hsl(267, 66%, 58%);
    border-radius: 3px;
    margin: 0px 0px 60px;
}

@media (min-width: 530px) and (max-width: 768px) {
    .title {
        font-size: 24px;
        line-height: 30px;
    }

    .text_beautiful_places {
        max-width: 400px;
    }

    .text_perfect_gear {
        max-width: 470px;
    }

    .text_photographer {
        max-width: 400px;
    }

    .text {
        font-size: 14px;
        line-height: 20px;
    }
}

@media (min-width: 320px) and (max-width: 530px) {
    .title {
        font-size: 20px;
        line-height: 26px;
    }

    .text_beautiful_places {
        max-width: 350px;
    }

    .text_perfect_gear {
        max-width: 320px;
        padding-right: 25px;
    }

    .text_photographer {
        max-width: 320px;
    }

    .text {
        font-size: 12px;
        line-height: 16px;
    }

    .content_photographer {
        background-position: left;
    }
}
